@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* reset css style start*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    font-family: 'Gentium Book Basic', serif;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* reset css style end*/

.container__main{
    margin: 0 auto;
    max-width: 1285px;
    padding: 0 15px;
}

.title__section{
    margin-bottom: 78px;

}

.title__category{
    font-weight: 700;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    color: #244886;
}

.title__name{
    font-weight: 700;
    font-size: 36px;
    line-height: 55px;
    text-align: center;
    letter-spacing: -1.5px;
    color: #0F2137;
}

/* block 2 start */

.meet{
    margin-bottom: 200px;
}

.meet__content{
    place-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}

.card__meet{
    max-width: 265px;
}

.ico__container{
    width: fit-content;
    margin: 0 auto 21px auto;
}

.meet__ico{
    width: 110px;
    height: 110px;
    border-radius: 16px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.ico__color__green{
    background-color: #E4FFEE;
}

.ico__color__blue{
    background-color: #ebf1ff;
}

.ico__color__red{
    background-color: #ffecef;
}

.meet__title{
    margin-bottom: 21px;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #0F2137;
}

.meet__desc{
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    color: #343D48;
}

/* block 2 end */

/* block 4 start */

.features__meet__card{
    max-width: 370px;
    display: flex;
}

.features__meet__text{
    max-width: 263px;
}

.features__meet__title{
    margin-bottom: 13px;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #0F2137;
}

.features__meet__desc{
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #343D48;
}

.features__meet__ico{
    width: 82px;
    height: 82px;
    border-radius: 16px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.ico__blue{
    background-color: #EAF9FF;
}

.ico__yellow{
    background-color: #FFF6D3;
}

.ico__green{
    background-color: #E4FFEE;
}

.ico__prpl{
    background-color: #F4F4FF;
}

.ico__orange{
    background-color: #fceee4;
}

.me-15{
    margin: 0 15px 0 0;
}

/* block 4 end */

/* block 5 start */

.core{
    margin: 229px auto 219px auto;
}

.companies{
    display: flex;
    flex-wrap: wrap;
}

.text__core{
    margin-top: 41px;
    max-width: 510px;
}

.category__core{
    text-align: inherit;
}

.title__big{
    margin: 8px 0 40px 0;
    color: #0F2137;
    font-weight: 700;
    font-size: 48px;
    line-height: 55px;
    letter-spacing: -1.5px;
}

.desc__core{
    margin-bottom: 30px;
    color: #02073E;
    font-weight: 400;
    font-size: 18px;
    line-height: 42px;
}

.get__start{
    background: #1F3E76;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    padding: 13px 31px;
}

.pic__core{
    max-width: 775px;
}

/* block 5 end */

/* media start */
@media (max-width: 1325px) {
    .companies{
        display: inherit;
    }

    .text__core{
        margin: 0 auto 20px auto;
        max-width: 700px;
        text-align-last: center;
    }

    .pic__core{
        margin: 0 auto;
    }
}

@media (max-width: 815px) {
    .pic__core{
        max-width: 500px;
    }

    .pic__core img{
        width: 100%;
    }
}
/* media end */